<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Replit</title>
  <link href="/static/css/blog.css" rel="stylesheet" type="text/css" />
  <script src="https://kit.fontawesome.com/48e723b064.js" crossorigin="anonymous"></script>
</head>
<body>
  <div class="links-container">
    <a href="#"><i class="fa-solid fa-arrow-left-long"></i>&nbsp;The First</a>
    <a style="float:right;" href="#">The Third&nbsp;<i class="fa-solid fa-arrow-right-long"></i></a>
  </div>

  <div class="header-container">
    <div class="header-content">
      <span><a href="#cat" id="category">BLOG</a> <i>2 MIN READ</i></span>
      <h1 class="title"><span>The First</span>Change your life with newfound simplicity</h1>
      <div class="author">
        <img class="pfp" src="https://ablyv-dev.azurewebsites.net/static/images/nobglogo.png" alt="no background logo" />
        <div>
          <h4>Zachary Richman</h4>
          <h3>Founder and Developer</h4>
        </div>
      </div>
    </div>

    <img class="header-img" src="https://ablyv-dev.azurewebsites.net/static/images/nobglogo.png" alt="no background logo" />
  </div>

  <div class="blog-container">
    <div class="blog-content">
      <div class="paragraph initial bottomborder">
        <p>
          I honestly don't what to write here. This began years ago as a concept, but only now is it coming to fruition. I'm not sure where this will lead or go. But here I am, writing this. Here and now. 
        </p>
      </div>

      <div class="paragraph initial bottomborder">
        <h1>Stardust</h1>
        <p>
          Ablyv started out as something else entirely. Stardust Ind. However after a few years I decided to rebrand it. Take it under a new name, and roof. All projects started or done under the Stardust umbrella has will now be under the Ablyv title. 
        </p>
      </div>

      <img src="https://images.unsplash.com/photo-1579293813494-23d615db95bf?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="img" />

      <div class="paragraph">
        <p>
          With all that to be said I am now proud to unveil our newest projects. We are currently in development for them all but beta's will be out soon. We look forward to seeing you all soon. Without further aduei, and no more delay.
        </p>
      </div>

      <div class="paragraph initial">
        <h1>Lumina</h1>
        <p>
          Lumina, is a new way to speech and debate. We noticed a small amount of tools out there for high school speech and debate. We wanted to make a new way to do it. We wanted to make it easier, and free to use. Not everyone has the access to funds for an already expensive extracurricular. So we decided to make it both free, and the most advanced tool out there. Currently it's open sourced, so please contribute!
        </p>
      </div>

      <div class="paragraph initial">
        <h1>Actium</h1>
        <p>
          Actium, a new way to team. Streamlining working together with coleagues all in one place. In an already stressful field it's all the more complicated managing different accounts to different places. Actium, puts everything all in one place. With a flat fee for a team, and an additional fee for each member.
        </p>
      </div>
    </div>
  </div>

  <%- include('../includes/footer.html') %>
</body>
</html>
